.app {
     /* Add app styles here */
}

/* check combo */ 
.x-combo-checker { background-position: 50% -2px; margin-left: 1px; background-color: transparent; background-image: url("/extjs/resources/themes/images/default/grid/unchecked.gif"); background-position: -1px -1px; background-repeat: no-repeat; height: 14px; width: 14px; display: inline-block; } 
.x-boundlist-selected .x-combo-checker { background-image: url("/extjs/resources/themes/images/default/grid/checked.gif"); }