.app {
     /* Add app styles here */
}
.x-combo-checker { background-position: 50% -2px; margin-left: 1px; background-color: transparent; background-image: url("https://rally1.rallydev.com/apps/2.0rc1/lib/ext/4.1.1a/resources/themes/images/default/grid/unchecked.gif"); background-position: -1px -1px; background-repeat: no-repeat; height: 14px; width: 14px; display: inline-block; } 
.x-boundlist-selected .x-combo-checker { background-image: url("https://rally1.rallydev.com/apps/2.0rc1/lib/ext/4.1.1a/resources/themes/images/default/grid/checked.gif"); }

.x-column-header-inner .x-column-header-text {
    white-space: normal;
}

.x-column-header-inner {
    line-height: normal;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    text-align: center;
    top: 20%;
}

.x-grid-cell-inner {
    overflow: hidden;
    /*padding: 8px 12px;*/
    padding: 6px 2px 2px 2px;
    white-space: nowrap;
    height : 28px;
 }
 
 .tinytext {
    font-size:xx-small;
 }